body{
    margin: 0;
    padding: 0;
    background-color: #b64b93;
}

nav{
    display: flex;
    background-color: black;
    padding: 15px 20px;
}

nav h1 {
    color: white;
}

.contenido{
    display: flex;
    margin: 20px 0;
    justify-content: center;

}

.form-card{
    background-color: white;
    display: flex;
}